<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- 本地调试环境 -->
    <springProfile name="dev,fat,local,uat,pro">
        <root level="error">
         	<appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
